.main {
    margin: 48px 0;
}

.main-centered {
    width: 700px;
    margin: 0 auto;
}

.compiledFilterText {
    margin: 0 0 20px 0;
    padding: 5px;
    font-size: 14px;
    width: 100%;
}

.filterControlsPrototype {
    font-size: 14px;
}

.filterList-field {
    margin: 0 0 5px 0;
    padding: 5px 8px;
    border: 1px solid #ccc;

    display: flex;
    flex-direction: row;
}

.filterList-field-name {
    flex-basis: 150px;
    min-width: 150px;
    padding: 5px 0;
    border-right: 1px solid #ccc;
}

.filterList-field-filters {
    padding: 3px 0;
    margin: 0 0 0 10px;
    display: flex;
    flex-wrap: wrap;
}

.filterList-field-filter {
    display: inline-block;
    margin: 0 10px 5px 0;
    min-width: 40px;

    border: 1px solid #ddd;
    padding: 2px 20px 2px 5px;

    position: relative;
}

.filterList-field-filter-part--editable {
    padding: 0 4px;
    border-bottom: 1px dotted cornflowerblue;
    cursor: pointer;
}

.filterList-field-partEditor {
    width: 80px;
}

.filterList-field-filter-remove::after {
    display: inline-block;
    content: 'x';
    color: red;
    position: absolute;
    right: 4px;
    top: 2px;
    width: 15px;
    text-align: center;
    cursor: pointer;
}

.filterList-suggestionList {
    font-size: 12px;
    min-width: 100px;
}

.filterList-suggestionList .Select-control {
    height: 22px;
}

.filterList-suggestionList .Select-arrow {
    top: 8px;
    right: 8px;
}

.filterList-addNewField-listContainer {
    margin-right: 10px;
}

.filterList-controlRow-control {
    display: inline-block;
    margin-right: 10px;
}
